<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件-->
<mapper namespace="DEPT">
    <!--基本数据类型-->
    <insert id="addDept" parameterType="String" >
        insert into DEPT(NAME) values(#{name})
        </insert>

    <!--封装的类，#{类中的属性名} ： map #{map中的key}-->
    <insert id="insertDept" parameterType="pojo.Dept" keyProperty="id" useGeneratedKeys="true">
        insert into DEPT(NAME) values (#{name})
    </insert>

    <update id="updateDept" parameterType="pojo.Dept">
        update dept set name = #{name} where id = #{id}
    </update>

    <delete id="deleteDept" parameterType="int">
        delete from dept where id = #{id}
    </delete>

    <!--结果集中的字段名和实体类中的属性，忽略大小写之后，是一样的-->
    <select id="getDept" resultType="Dept">
        select id,name from dept
    </select>

    <resultMap id="deptMap" type="Dept">
        <!--主键用id标签-->
        <id property="id" column="ID"/>
        <!--property是实体类中的属性名，column是结果集中的列名-->
        <result property="name" column="deptName"/>
    </resultMap>

    <select id="getDeptList" resultMap="deptMap">
        select id,name as deptName from dept
    </select>

    <select id="getDeptById" parameterType="int" resultType="Dept">
        select id,name from dept where id = #{id}
    </select>
    
    <resultMap id="deptEmpMap" type="Dept">
        <!--主键用id标签-->
        <id property="id" column="ID"/>
        <!--property是实体类中的属性名，column是结果集中的列名-->
        <result property="name" column="name"/>
        <collection property="emps" ofType="Employee">
            <id column="eid" property="id"/>
            <result column="ename" property="name"/>
            <result column="salary" property="salary"/>
        </collection>
    </resultMap>
    
    <select id="getDeptWithEmp" resultMap="deptEmpMap">
        select d.id,d.name,e.id as eid,e.name as ename,e.salary
        from dept d
        left join employee e on e.dept_id = d.id
    </select>
</mapper>